body {
  margin: 0;
  background-image: url('beach.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-x: hidden;
}

div {
  top: -20px;
  opacity: 0.75;
  position: absolute;
  background-color: rgb(183, 216, 222);
  width: 100%;
  padding: 30px;
  margin: 20px 0;
}

#cd1 {
  transform: translate(100px, 100px);
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#single {
  font-size: 20px;
  color: white;
  text-align: left;
  transform: translate(200px, 600px);
}

#cd2 {
  transform: translate(300px, 100px);
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#ep {
  font-size: 20px;
  color: white;
  text-align: center;
  transform: translate(-10px, 550px);
}

#cd3 {
  transform: translate(500px, 100px);
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#album {
  font-size: 20px;
  color: white;
  text-align: right;
  transform: translate(-200px, 500px);
}
