body {
  margin: 0;
  background-image: url('beach.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-x: hidden;
}

div {
  top: -20px;
  opacity: 0.75;
  position: absolute;
  background-color: rgb(183, 216, 222);
  width: 100%;
  padding: 30px;
  margin: 20px 0;
}
